.header {
display: flex;
justify-content: space-between;
margin-top: 20px;
padding: 30px 120px;
}

.ul-header {
    display: flex;
    flex: wrap;
    gap: 20px;
}

.ul-header li a {
    text-decoration: none;
    color: #141414;
}