.header {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-content: center;
gap: 5px;
padding: 50px;
}

.nome-header {
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
    font-weight: 900;
    margin-left: 150px;
    border-bottom: #67dd0a solid 4px;
}

.nav-style-header {
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
  font-weight: 900;
  border-bottom: transparent solid 6px;
  color: #141414;
  text-decoration: none;
}

.nav-style-header:hover {
  border-bottom: #CCF235 solid 6px;
  transition-duration: 1s;
}

.nav-header {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    font-size: 20px;
    align-items: center;
    margin-right: 150px;
}

/* Adicionando os estilos dropdown */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: auto;
    color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5%;
  }

  .dropdown-style li {
    border-radius: 5%;
  }

  .dropdown-style a {
    color: rgb(82, 82, 82);
    font-size: 18px;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 5%;
    text-align: center;
}

  .dropdown-style a:hover {     
    color: #fff;
    background-color: #141414;
    border-radius: 5%;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.ul-header {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.ul-header li a {
    text-decoration: none;
    color: #141414;
    font-size: 1.125rem;
}

.ul-header li a:hover {
    color: #67dd0a;
    cursor:pointer;
}

@media (max-width: 800px){
  .header {
    max-width: auto;
    margin-top: 10%;
    justify-content: center;
    gap: 5%;
    margin: 0px;
    }
    .nome-header {
      margin-bottom: 8%;
    }
    .header .nav-header {
      margin-bottom: 20%;
      margin-top: 2%;
      padding: 0;
      margin-left: 50px;
      gap: 30px;
    }
}

@media (max-width: 800px){

  .logo-img {
    display: none;
  }
}

@media (max-width: 600px){
  .header {
    max-width: auto;
    margin: 0px;
    justify-content: center;
    padding: 10px;
    gap: 5%;   
    margin-top: 10%;
    }
    .nome-header {
      margin-bottom: 5%;
    }
    .header .nav-header {
      margin-bottom: 20%;
      margin-top: 2%;
      gap: 20px;
      justify-self: center;
      margin-left: auto;
      margin-right: auto;
    }
    }

@media (max-width: 600px){

  .logo-img {
    display: none;
  }

  .dropdown-style a {
    color: rgb(82, 82, 82);
    font-size: 18px;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
}