/* Common styles */
.footer {
  background: #000;
  display: block;
}

.footer-container {
  max-width: 75rem; /* 1200px */
  padding: 4.6875rem 0.9375rem 2.34375rem; /* 75px 15px 37.5px */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem; /* 100px */
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem; /* 24px */
  line-height: 1.33;
  color: #fff;
  text-align: center;
}

.footer-contato li {
  font-weight: 700;
  font-size: 2.25rem; /* 36px */
  line-height: 1.1;
  color: #fff;
  margin-bottom: 3.125rem; /* 50px */
}

.footer-contato li a {
  text-decoration: none;
  color: #fff;
  padding: 1.25rem; /* 20px */
  border: 0.0625rem solid #000; /* 1px */
  transition: 1s;
}

.footer-contato li a:hover {
  border-color: #67dd0a;
  background-color: #67dd0a;
  border-radius: 0.25rem; /* 4px */
  color: #000;
  transition: 1s;
}

.footer-copy {
  font-size: 1.125rem; /* 18px */
  color: #8f8f8f;
  text-align: center;
  grid-column: 1/-1;
}

/* Responsive styles */
@media (max-width: 37.5rem) {
  /* 600px */
  .footer-container {
    max-width: 75%; /* 600px */
    padding: 2.5rem 0.9375rem 2.34375rem; /* 40px 15px 37.5px */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem; /* 20px */
    align-items: center;
  }

  .footer-container p,
  .footer-container ul li {
    font-size: 1.25rem; /* 20px */
  }

  .footer-contato {
    margin-top: 1.875rem; /* 30px */
  }

  .footer-contato li {
    padding: 0.625rem; /* 10px */
    display: flex;
    justify-content: center;
    margin-right: auto;
  }
}
