.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 5px;
  padding: 50px;
}

.nome-header {
  font-family: 'Courgette', cursive;
  font-size: 2.5rem;
  font-weight: 900;
  border-bottom: #67dd0a solid 4px;
}

.nav-style-header {
  font-family: 'Courgette', cursive;
  font-size: 1.85rem;
  font-weight: 900;
  border-bottom: transparent solid 4px;
  text-decoration: none;
  color: #141414;
  transition: width .5s ease, background-color .5s ease;
  box-shadow: 2px 2px transparent;
}

.nav-style-header:hover {
  color: #fff;
  box-shadow: 10px 10px #000;
}

.nav-style-header::after {
  content: '';
  display: block;
  width: 0;
  height: 0.4063rem;
  background: #67dd0a;
  margin-top: 3px;
  transition: width;
}

.nav-style-header:hover::after {
  width: 100%;
  transition: width .4s;
}

.nav-header {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  font-size: 20px;
  align-items: center;
}

.header-flags a {
  padding: 10px;
}

.header-flags img {
  width: 55px;
  border-radius: 50%;
  border: 4px solid transparent;
  padding: 0px;
  transition: 0.5s;
  box-shadow: 5px 5px 5px transparent;
}

.header-flags img:hover {
  border: 4px solid #67dd0a;
  transition: 0.5s;
  box-shadow: 4px 4px 4px #141414;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: auto;
  color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5%;
}

.dropdown-style li {
  border-radius: 5%;
}

.dropdown-style a {
  color: rgb(82, 82, 82);
  font-size: 18px;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  padding: 20px 20px;
  border-radius: 5%;
  text-align: center;
}

.dropdown-style a:hover {
  color: #fff;
  background-color: #141414;
  border-radius: 5%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.ul-header {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.ul-header li a {
  text-decoration: none;
  color: #141414;
  font-size: 1.125rem;
}

.ul-header li a:hover {
  color: #67dd0a;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .header .nome-header {
    font-size: 30px;
  }

  .header .nav-header {
    margin-right: 0px;
  }
}

@media (max-width: 900px) {
  .header {
    justify-content: center;
    padding: 30px;
    gap: 35px;
  }

  .header .nome-header {
    font-size: 22px;
  }

  .header .nav-style-header {
    font-size: 18px;
  }
}

@media (max-width: 702px) {

  .header .nome-header {
    font-size: 18px;
  }

  .header .nav-style-header {
    font-size: 16px;
  }
}

@media (max-width: 647px) {
  .header .nome-header {
    margin-bottom: 15px;
  }
}

@media (max-width: 495px) {
  .nav-header {
    gap: 30px;
  }
}

@media (max-width: 455px) {
  .header {
    width: 60%;
    margin: auto;
    justify-content: center;
    gap: 0px;
  }

  .header .nome-header {
    width: auto;
    margin-right: 0px;
  }

  .header .nav-header {
    width: 165px;
    padding: 0px;
    gap: 30px;
  }
}