/* Common styles for the header */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.3125rem; /* 5px */
  position: fixed;
  top: 0;
  width: 100%;
  height: 6.5625rem; /* 105px */
  background-color: #fff;
  z-index: 1;
  border-bottom: 0.25rem solid #141414;
}

/* Header title style */
.nome-header {
  font-family: "Courgette", cursive;
  font-size: 1.5625rem; /* 25px */
  font-weight: 900;
  border-bottom: 0.25rem solid #67dd0a;
}

/* Navigation link styles */
.nav-style-header {
  font-family: "Courgette", cursive;
  font-size: 1.15625rem; /* 18.5px */
  font-weight: 900;
  border-bottom: transparent solid 0.25rem;
  text-decoration: none;
  color: #141414;
  transition: color 0.5s ease, border-color 0.5s ease;
  box-shadow: 0.125rem 0.125rem transparent;
}

.nav-style-header:hover {
  color: #67dd0a;
  border-color: #67dd0a;
}

.nav-style-header::after {
  content: "";
  display: block;
  width: 0;
  height: 0.0254rem; /* 0.4063rem */
  background: #67dd0a;
  margin-top: 0.1905rem; /* 3px */
  transition: width 0.4s;
}

.nav-style-header:hover::after {
  width: 100%;
}

/* Navigation container styles */
.nav-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* 20px */
  font-size: 1.25rem; /* 20px */
  align-items: center;
}

/* Flag icon styles */
.header-flags {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.header-flags a {
  padding: 0.625rem; /* 10px */
}

.header-flags img {
  width: 3.4375rem; /* 55px */
  border-radius: 50%;
  border: 0.25rem solid transparent;
  padding: 0;
  transition: 0.5s;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem transparent; /* 5px */
}

.header-flags img:hover {
  border: 0.25rem solid #67dd0a;
  box-shadow: 0.25rem 0.25rem 0.25rem #141414; /* 4px */
}

/* Dropdown menu styles */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: auto;
  color: #fff;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5%;
}

.dropdown-style li {
  border-radius: 5%;
}

.dropdown-style a {
  color: rgb(82, 82, 82);
  font-size: 1.125rem; /* 18px */
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  padding: 1.25rem 1.25rem; /* 20px */
  border-radius: 5%;
  text-align: center;
}

.dropdown-style a:hover {
  color: #fff;
  background-color: #141414;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Unordered list styles */
.ul-header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9375rem; /* 15px */
  justify-content: center;
}

.ul-header li a {
  text-decoration: none;
  color: #141414;
  font-size: 1.125rem; /* 18px */
}

.ul-header li a:hover {
  color: #67dd0a;
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 800px) {
  .header {
    height: 5rem; /* 80px */
    font-size: 1.125rem; /* 18px */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5rem 0.5rem; /* 8px */
  }

  .header-flags img {
    width: 1.5625rem; /* 25px */
  }

  .nav-header {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem; /* 10px */
    justify-content: center;
    margin: 0 auto;
  }

  .nav-header-principal {
    justify-content: center;
    align-items: center;
  }

  .nav-header li a {
    font-size: 1.25rem; /* 20px */
  }
}
