.projetos-h3 {
  display: flex;
  padding: 50px 230px;
  justify-content: center;
  color: #c4c4c4;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 40px;
}

.projetos-agrupamento {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  max-width: 1400px;
  gap: 20px;
  margin: auto auto 100px auto;
}

.projetos-card {
  display: flex;
  flex-direction: column;
}

.projetos-card h4 {
  font-size: 35px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 1px #757286;
  font-weight: 600;
}

.projetos-card p {
  font-size: 24px;
  font-weight: 200;
  color: #757286;
  font-family: Montserrat, sans-serif;
  text-align: left;
  line-height: 35px;
}

.projetos-botao-div {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.projetos-botao {
  width: 200px;
  height: 60px;
  font-size: 24px;
  border: 3px solid #000;
  color: #757286;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #000;
  display: grid;
  place-items: center;
  transition: 1s;
}

.projetos-botao:hover {
  background-color: #67dd0a;
  color: white;
  text-shadow: 2px 2px 2px #000;
  border: 3px solid #67dd0a;
}

.projetos-botao-2 {
  width: 200px;
  height: 60px;
  font-size: 24px;
  border: 3px solid #000;
  color: #757286;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #000;
  display: grid;
  place-items: center;
  transition: 1s;
}

.projetos-botao-2:hover {
  background-color: #141414;
  color: white;
  text-shadow: 2px 2px 2px #000;
  border: 3px solid #141414;
}

.projetos-imagem {
  height: 380px;
  width: 700px;
  transition: 1s;
  object-fit: contain;
}

.projetos-imagem:hover {
  height: 410px;
  width: 740px;
  transition: 1s;
}

@media (max-width: 600px) {
  .projetos-h3 {
    font-size: 32px;
    text-align: center;
    margin: 40px auto 10px;
    padding: 0;
  }

  .projetos-card {
    display: flex;
    flex-direction: column;
    max-width: 280px;
  }

  .projetos-card h4 {
    font-size: 25px;
  }

  .projetos-card p {
    font-size: 20px;
  }

  .projetos-imagem {
    max-height: 380px;
    max-width: 700px;
    width: 100%;
    height: 200px;
    transition: 1s;
    object-fit: contain;
  }

  .projetos-agrupamento {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
  }

  .projetos-botao {
    width: auto;
    height: auto;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }

  .projetos-botao-2 {
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: center;
    padding: 5px;
  }
}
